
  
body{font-family:"微软雅黑"}
*{
  padding:0px;margin:0px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;          
}
input { outline:none; }
a:link,a:visited,a:focus{text-decoration:none;outline:none;}
/*a{color:#333;}*/
ul,ol{list-style:none;}
.clear{clear:both;}

 @media screen and (min-width: 768px) {
      .container {
        width: 750px;
      }
   
    }

  @media screen and (min-width:768px) and (max-width:1024){

      .container {
        width: 1100px;
      }
      

    }
    @media screen and (min-width: 992px) {
      .container {
        width: 970px;
      }
      .tab-content .asstes-list b{font-size:16px;margin-bottom:10px;}
      .tab-content .asstes-list b:hover{color:#0064b2;}
      .tab-content .asstes-list .mid-col span{font-size:14px;margin-right:20px;display:inline;}
      
   }
    @media screen and (min-width: 1200px) {
      .container {
        width: 1100px;
      }
       
    }
    @media (max-width: 768px) {
   
    }
.header-nav{margin-bottom:16px;}
.header-nav .navbar{background-color:#fff;border:0;border-bottom:1px solid #eee;}
/*.header-nav .header-con{padding-left:0px;padding-right:0px;}*/
.header-nav .navbar .navbar-nav li a{line-height:32px;font-size:16px;color:#333;}
.header-nav .navbar .navbar-nav li a:hover{color:#0064b2;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{background-color:#fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color:#0064b2;}
.dropdown-menu{min-width:100%;margin-left:30px;background-color:#fff;width:120px;text-align:center;}
.dropdown .dropdown-menu li a:hover{background-color:#fff;color:#0064b2;}
/*.dropdown .dropdown-menu li a:hover{color:#0064b2;}*/
/*.open>.btn ul li{background-color:#fff!important;}
.open>ul li a:hover{background-color:#fff!important;color:#0064b2;}
*/
/*.header-nav .navbar .nav-lt li:first-child{padding-left:63px;}
.header-nav .navbar .nav-lt li:nth-child(2){padding-left:55px;}
.header-nav .navbar .nav-lt li:nth-child(3){padding-left:41px;}*/
.header-nav .navbar .nav-lt .li-fir{padding-left:25px;}
.header-nav .navbar .nav-lt .li-sec{padding-left:25px;}
.header-nav .navbar .nav-lt .li-thr{padding-left:25px;}
.header-con .dropdown-menu ul{padding-right:-45px;}
/*.header-nav .navbar .navbar-right li:first-child{margin-right:136px;background-color:#ec1b20;border-radius:4px;width:122px;text-align:center;margin-top:18px;height:30px;}*/
/*.header-nav .navbar .navbar-right li:first-child a{color:#fff;margin-top:-16px;}*/
.navbar-right .lis{background-color:#000;}
.navbar-right img{padding-right:6px;vertical-align:middle;}






/* footer  */

.footer{background:#1c2026;width:100%;padding-top:30px;padding-bottom:20px;}
.footer .container{padding-top:30px;padding-bottom:20px;}
/*.footer .foot-img{border-right:1px solid #999;}*/
.footer .foot-img p{font-size:18px;color:#fff;margin:0px;margin-bottom:4px;}
.footer .foot-img .footer-logo{margin-top:18px;margin-left:15px;}
.footer .ft-left .last-col{border-right:1px solid #999;}
.footer .ft-left ul li:nth-child(1){color:#fff;font-size:18px;padding-bottom:18px;}
.footer .ft-left ul li{color:#999;font-size:14px;padding-bottom:16px;}
.footer .foots .fot9{border-left:1px solid #999;padding-left:24px;padding-right:0px;}
.footer .foots p:first-child{color:#fff;font-size:18px;padding-bottom:18px;}
.footer .foots p{color:#999;font-size:14px;padding-bottom:16px;margin-bottom:4px;}
.footer .footer-logo{background:#d2d2d2;line-height:32px;margin:12px 0px 0px 0px;}
.footer .footer-logo>img{width:100%;}
.footer .footer-logo:hover{background:#fff;}

.footer .timg img{width:40%;height:40%;}
.footer-bar{height:38px;background:#011013;width:100%;text-align:center;line-height:38px;color:#b7b8b9;}
